# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
.env/
.pythonlibs/

# Node
node_modules/
dist/
build/
.npm/
.npm-cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
